*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
    outline: none;
    text-decoration: none;
    transition: .2s linear;
    text-transform: capitalize;
}
.container{
    background: linear-gradient(45deg, bluevoilet, lightgreen);
    padding: 15px 9%;
    padding-bottom: 10px;
}
.heading{
    text-align: center;
    padding-bottom: 15px;
    color: red;
    text-shadow: 0 5px 10px rgba(0, 0, 0,0.5);
    font-size: 35px;
}
.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px, 1fr));
    gap: 15px;
}
.box{
    box-shadow: 0 5px 10px rgba(0, 0, 0,0.5);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 20px 30px;
}
.box img{
    height: 50vh;
}
.box h3{
    color: red;
    font-size: 25px;
    text-transform:uppercase;
    padding: 15px 0;
   
}
.box p{
    color: black;
    font-size: 15px;
    line-height: 1.8;
}
.btn{
    margin-top: 10px;
    display: inline-block;
    background-color: black;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}
.btn:hover{
    letter-spacing: 1px;
}
.box:hover{
    box-shadow: 0 10px 15px rgba(0, 0, 0,0.3);
    transform: scale(1.03);
}
@media (max-width:768px) {
    .container{
        padding: 20px;
    }
}